<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog Platform</title>
</head>
<body>

    <!-- Login Form -->
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Login</button>
    </form>

    <!-- Blog List -->
    <h2>All Blogs</h2>
    <ul>
        <li th:each="blog : ${blogs}">
            <a th:href="@{'/blogpost/' + ${blog.id}}"> 
                <span th:text="${blog.title}"></span>
            </a>
        </li>
    </ul>

</body>
</html>
